<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citas medicas</title>
    <link href="{% static 'citasmedicas/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <img class="img-responsive" src="{% static 'citasmedicas/img/logo-md.png' %}">
    </div>
</div>
    {% block content %}
    {% endblock %}
<footer class="footer" style="text-align:center;border-top:1px solid #eee;">
    <p>&copy; 2017 VG-Code</p>
</footer>
</body>
</html>