<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citas medicas</title>
    <link href="{% static 'citasmedicas/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'citasmedicas/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'citasmedicas/css/vgcode.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'citasmedicas/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'citasmedicas/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <img class="img-responsive" style="margin:0 auto" src="{% static 'citasmedicas/img/logo-md.png' %}">
    </div>
    {% if user.is_authenticated %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Citas medicas</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'citasmedicas_index' %}">Citas</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Paciente<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'paciente_alta' %}">Alta</a></li>
                            <li><a href="{% url 'paciente_lista' %}">Modificación</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Secretaria<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'secretaria_alta' %}">Alta</a></li>
                            <li><a href="{% url 'secretaria_lista' %}">Modificación</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consultorio<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'consultorio_alta' %}">Alta</a></li>
                            <li><a href="#">Modificación</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Salir</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
</div>
    {% block content %}
    {% endblock %}
<div class="container">
    <div class="row">
        <footer class="footer" style="text-align:center;border-top:1px solid #bbb;margin-top:15px;">
            <p>&copy; 2017 VG-Code</p>
        </footer>
    </div>
</div>
</body>
</html>